<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
            <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
        <title>add_students</title>
        <style>
            
        body{
            background: rgba(39, 2, 82, 0.88);
            -webkit-text-fill-color: gold;
        }        
         
        
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="offset-md-4 col-md-4">
                    <h1 class="text-center">Enter The Data</h1>
                    <form method="POST" action="{% url 'upd_data' rows.id %}">
                        {% csrf_token %}
                        <label>Enter First name</label>
                        <input type="text" name="fname" class="form-control" value="{{ rows.first_name}}">
                        <label>Enter Last name</label>
                        <input type="text" name="lname" class="form-control" value="{{rows.last_name}}">
                        <label>Enter Mobile Number</label>
                        <input type="number" name="mobile_no" class="form-control" value="{{rows.mobile_no}}">
                        <label>Enter Email ID</label>
                        <input type="text" name="email" class="form-control" value="{{rows.Email}}">
                        <label>Enter Location</label>
                        <input type="text" name="Location" class="form-control" value="{{rows.location}}">
                        <label>Enter CGPA</label>
                        <input type="number" name="CGPA" class="form-control" value="{{rows.Cgpa}}">
                        <label>Enter College</label>
                        <input type="text" name="College" class="form-control" value="{{rows.college}}">   
                        <div class="text-center">
                            <input type="submit" value="Update" class="btn btn-success">
                            <input type="reset" value="CANCEL" class="btn btn-danger">
                            <a href="{% url 'Indexpage' %}" class="btn btn-primary">Back</a>
                        </div> 

                    </form>
                </div>
            </div>
             
            
        </div>
    </body>
</html>
